<div class ="about-callout">
<div class="container">
 
      <div class = "row">
        <h1 class="text-center emph">Get in Touch!</h1>
      </div>
      <div class="row top-buffer">
      <%= form_for @contact do |f| %>
      <div class = "col-md-6 form-line">

          
            <div class="form-group">
              <%= f.label :"name*",style:'color:white' %>
              <%= f.text_field :name, class:'form-control', placeholder:'Enter Name' %>
            </div>
           
            <div class="form-group">
              <%= f.label :"email*",style:'color:white' %>
              <%= f.text_field :email, class:'form-control', placeholder:'Enter full email address' %> 
            </div>
            
            <div class="form-group">
              <%= f.label :'Mobile Number',style:'color:white' %>
              <%= f.text_field :mobile, class:'form-control', placeholder:'Enter 10-digit mobile no.' %> 
            </div>
            

      </div>
          <div class = "col-md-6">
            <div class="form-group">
              <%= f.label :"message*",style:'color:white' %>
              <%= f.text_area :comments, class:'form-control', placeholder:'Enter your message', :cols => 10, :rows => 6 %>
            </div>
              <%= f.submit 'Submit', class: 'btn btn-default' %>          
              <% end %>
            
            


          </div>
      </div>
      <div class = "row mh1">
        <h6>*required</h6>
      </div>
</div>
</div>