<!DOCTYPE html>
<html>
  <head>
    <title>//Sandbox// Laboratory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />  
    <%= csrf_meta_tags %>
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <script>
    $(document).ready(function(){

    $(function(){
 
    $(document).on( 'scroll', function(){
 
    	if ($(window).scrollTop() > 100) {
			$('.scroll-top-wrapper').addClass('show');
		} else {
			$('.scroll-top-wrapper').removeClass('show');
		}
	  });
 
	  $('.scroll-top-wrapper').on('click', scrollToTop);
    });
 
    function scrollToTop() {
	    verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
	    element = $('body');
	    offset = element.offset();
	    offsetTop = offset.top;
	    $('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
    }

    });
   </script>  
    
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
  <!--<div class='container'>-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a href="/" class="navbar-brand"><i class="fa fa-group"></i> DevMatch</a> -->
      <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fas fa-chess-rook"></i>
      //SandBox// Lab
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to gamedesign_path do %>
          <i class="fas fa-bolt"></i> Game Design
          <% end %>
        </li>
        <li>
          <%= link_to earlycoders_path do %>
          <i class="fas fa-paw"></i> Early Coders
          <% end %>
        </li>
        <li>
          <%= link_to builds_path do %>
          <i class="far fa-hdd"></i> Computer Builds
          <% end %>
        </li>
        <li>
          <%= link_to cstutoring_path do %>
          <i class="fas fa-graduation-cap"></i> CS Tutoring
          <% end %>
        </li>
        <li>
          <%= link_to mobileapps_path do %>
          <i class="fas fa-mobile-alt"></i> Mobile Apps
          <% end %>
        </li>
        <li>
          <%= link_to webdesign_path do %>
          <i class="fas fa-code"></i> Web Design
          <% end %>
        </li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact Us", new_contact_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  <!--</div>-->
</nav>
    <div class="container-fluid gradient-bkg text-center">
      <% flash.each do |type,msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
    </div> 
    
    <%= yield %>
    
<footer class="footer text-center">
  <div class="container">
    <small>© Copyright 2018. Crafted with love by <a href="https://www.twitter.com/MisterMcGuigan">@MisterMcGuigan</a></small>
  </div>
</footer>

<!-- The scroll to top feature -->
    
<div class="scroll-top-wrapper ">
  <span class="scroll-top-inner">
    <i class="fa fa-2x fa-arrow-circle-up"></i>
  </span>
</div>
</div>
    
  </body>
</html>
